<div ng-controller="flowToolBarController as controller">

    <button ng-if="!editing" ng-click="addNewWorkflow()">Add new Workflow</button>
    <div ng-if="!editing">

        <table st-table="workflows" class="table table-striped">
            <thead>
            <tr>
                <th st-sort="id">ID</th>
                <th st-sort="displayName">Work Flow Name</th>
                <th st-sort="creator">creator</th>
                <th st-sort="createTime">Create Time</th>
                <th st-sort="updateTime">Update Time</th>
            </tr>
            <tr>
                <th colspan="1">
                    <input st-search="displayName" placeholder="search for Workflow Name" class="input-sm form-control"
                           type="search"/>
                </th>
                <th colspan="2">
                    <input st-search="creator" placeholder="search for Creator" class="input-sm form-control"
                           type="search"/>
                </th>
            </tr>
            </thead>
            <tbody>
            {{workflows.length}}
            <tr ng-repeat="x in workflows">
                <td>{{ $index + 1 }}</td>
                <td>{{x.displayName}}</td>
                <td>{{x.creator}}</td>
                <td>{{x.createTime}}</td>
                <td>{{x.updateTime}}</td>
                <td>
                    <button type="button" ng-click="editWorkFlow(x)" class="btn btn-sm">
                        <i class="glyphicon glyphicon-remove-circle">
                        </i>
                    </button>
                    <button type="button" ng-click="deleteWorkFlow(x)" class="btn btn-sm btn-danger">
                        <i class="glyphicon glyphicon-remove-circle">
                        </i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="editArea" ng-show="editing">
        <div class="well">
            <div class="alert alert-info">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="Creator">Creator:</label>
                        <input ng-model="workflowDetail.creator" type="text" class="form-control" id="Creator"
                               placeholder="Jane Doe" disabled>
                    </div>
                    <div class="form-group">
                        <label for="FormName">Form Name:</label>
                        <input ng-model="workflowDetail.displayName" type="text" class="form-control" id="FormName"
                               placeholder="Employee Training">
                    </div>
                    <button class="submit" ng-click="saveWorkFlow()">Save</button>
                    <input ng-model="workflowDetail.id" type="hidden"/>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="wf_desc">Description:</label>
                        <textarea id="wf_desc" ng-model="workflowDetail.workFlow_Description" class="form-control"
                                  rows="3"></textarea>
                    </div>
                </form>

            </div>

            <div class="row">

                <div id="left" class="col-md-2 alert alert-info">
                    <button ng-click="showNodes()">Actions</button>
                    <button ng-click="showForms()">Forms</button>
                    <div id="controllernodes" ng-show="toolbar_nodes">
                        <div class="node radius" id="node1">Start</div>
                        <div class="node" id="node3">Question</div>
                        <div class="node radius" id="node4">End</div>
                    </div>

                    <div ng-show="toolbar_forms">
                        <hr>
                        <ui-virtual-list ui-data-provider="dataProvider.data"
                                         ui-on-select="controller.onSelect(option)"
                                         ng-model="controller.selectedOption"></ui-virtual-list>
                        <hr>
                        <div class="node" id="previewNode" nodetype="{{controller.selectedNode.nodetype}}"
                             node_data="{{controller.selectedNode.data}}">
                            {{controller.selectedNode.label}}
                        </div>

                    </div>

                </div>
                <div class="col-md-10 alert alert-warning" id="diagramarea"></div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">


    #questionDialog {
        z-index: 900;
        position: absolute;
        width: 500px;
        height: 300px;
        border: 2px solid #00bfff;
        filter: alpha(opacity=45);
        background: grey;
    }

    .row {
        margin: 0 !important;
    }

    .dragActive {
        border: 2px dotted orange;
    }

    .dropHover {
        border: 1px dotted red;
    }

    .item {
        border: 1px solid black;
        background-color: #ddddff;
        width: 100px;
        height: 100px;
        position: absolute;
    }

    #node1 {
        left: 15px;
        top: 100px;
    }

    #node2 {
        left: 15px;
        top: 200px;
    }

    #node3 {
        left: 15px;
        top: 300px;
    }

    #node4 {
        left: 15px;
        top: 400px;
    }

    #left {
        /*border: 1px solid #00bfff;*/
        /*width: 200px;*/
        height: 750px;
    }

    #diagramarea {
        /*border: 1px solid #00bfff;*/
        /*width: 1024px;*/
        height: 750px;
    }

    .node {
        border: 1px solid #346789;
        box-shadow: 2px 2px 19px #aaa;
        -o-box-shadow: 2px 2px 19px #aaa;
        -webkit-box-shadow: 2px 2px 19px #aaa;
        -moz-box-shadow: 2px 2px 19px #aaa;
        -moz-border-radius: 0.5em;
        border-radius: 0.5em;
        opacity: 0.8;
        width: 80px;
        height: 80px;
        line-height: 80px;
        cursor: pointer;
        text-align: center;
        z-index: 20;
        position: absolute;
        background-color: #eeeeef;
        color: black;
        font-family: helvetica, sans-serif;
        padding: 0.5em;
        font-size: 0.9em;
        -webkit-transition: -webkit-box-shadow 0.15s ease-in;
        -moz-transition: -moz-box-shadow 0.15s ease-in;
        -o-transition: -o-box-shadow 0.15s ease-in;
        transition: box-shadow 0.15s ease-in;
    }

    .node:hover {
        box-shadow: 2px 2px 19px #444;
        -o-box-shadow: 2px 2px 19px #444;
        -webkit-box-shadow: 2px 2px 19px #444;
        -moz-box-shadow: 2px 2px 19px #444;
        opacity: 0.6;
    }

    /*.node {*/
    /*box-shadow: 2px 2px 19px #aaa;*/
    /*-o-box-shadow: 2px 2px 19px #aaa;*/
    /*-webkit-box-shadow: 2px 2px 19px #aaa;*/
    /*-moz-box-shadow: 2px 2px 19px #aaa;*/
    /*-moz-border-radius: 0.5em;*/
    /*border-radius: 0.5em;*/
    /*opacity: 0.8;*/
    /*filter: alpha(opacity=80);*/
    /*border: 1px solid #346789;*/
    /*width: 150px;*/
    /*/!*line-height: 40px;*!/*/
    /*text-align: center;*/
    /*z-index: 20;*/
    /*position: absolute;*/
    /*background-color: #eeeeef;*/
    /*color: black;*/
    /*padding: 10px;*/
    /*font-size: 9pt;*/
    /*cursor: pointer;*/
    /*height: 50px;*/
    /*line-height: 50px;*/
    /*}*/

    .radius {
        border-radius: 25em;
    }

    /*.node:hover {*/
    /*box-shadow: 2px 2px 19px #444;*/
    /*-o-box-shadow: 2px 2px 19px #444;*/
    /*-webkit-box-shadow: 2px 2px 19px #444;*/
    /*-moz-box-shadow: 2px 2px 19px #444;*/
    /*opacity: 0.8;*/
    /*filter: alpha(opacity=80);*/
    /*}*/

    .current {
        background-color: #32cd32 !important;
    }
</style>

<script>
</script>
