<div class="well">
    <div class="row">
        <label class="col-md-3">Name:
            <input type="text" class="form-control" ng-model="thisFolder.name_" ng-disabled="thisFolder.id=='0'">
        </label>

        <label class="col-md-3">Create Time:
            <input type="text" class="form-control" value="{{thisFolder.createTime  | date:'yyyy-MM-dd HH:mm'}}" disabled>
        </label>

        <label class="col-md-3">Last Update Time:
            <input type="text" class="form-control" value="{{thisFolder.updateTime  | date:'yyyy-MM-dd HH:mm'}}" disabled>
        </label>
    </div>
    <div class="row">
        <label class="col-md-9">Description:
            <textarea class="form-control" ng-model="thisFolder.description_" ng-disabled="thisFolder.id=='0'"></textarea>
        </label>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" ng-click="saveFolder(thisFolder)" ng-disabled="thisFolder.level==0">Save</button>
            <button class="btn btn-primary" ng-click="copyFolder(thisFolder)" ng-disabled="thisFolder.level!=1">Copy</button>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>