<div ng-controller="FolderEmployeeFieldController">
    <div class="well">
        <div class="row">
            <button class="btn btn-primary btn-sm" ng-click="editEmployeeField(newEmployeeField)">Add EmployeeField
            </button>
            <button class="btn btn-danger btn-sm" ng-click="deleteSelectedEmployeeField()">Delete</button>
            <button class="btn btn-default btn-sm" ng-click="editEmployeeReport()">Edit Employee Report</button>

        </div>

        <!--new EmployeeField area-->
        <div class="fade-in" ng-if="newEmployeeField.editing" cg-busy="newEmployeeFieldPromise">
            <form name="newEmployeeFieldForm" novalidate>
                <div class="row"
                     ng-class="{ 'has-error' : newEmployeeFieldForm.name.$invalid && !newEmployeeFieldForm.name.$pristine }">
                    <label class="col-md-3">Name:
                    </label>

                    <div class="col-md-9">
                        <input name="name" ng-model="newEmployeeField.name_" class="form-control" required>
                    </div>
                </div>
                <p></p>

                <div class="row"
                     ng-class="{ 'has-error' : newEmployeeFieldForm.type.$invalid && !newEmployeeFieldForm.type.$pristine }">
                    <label class="col-md-3">Type:</label>

                    <div class="col-md-9">
                        <select required name="type" class="form-control"
                                ng-options="type for  type in types"
                                ng-model="newEmployeeField.questionType_"></select>
                    </div>
                </div>
                <p></p>

                <div class="row fade-in" ng-if="newEmployeeField.questionType_=='select'">
                    <div class="col-md-3">
                        <label>options</label>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">Name</div>
                            <div class="col-md-4">Value</div>
                            <div class="col-md-4"></div>
                        </div>

                        <div ng-repeat-start="op in newEmployeeField.options_" class="row">
                            <form name="optionForm" novalidate>

                                <div class="col-md-4"
                                     ng-class="{ 'has-error' : optionForm.opName.$invalid && !optionForm.opName.$pristine }">
                                    <input name="opName" type="text" class="form-control" ng-model="op.name"
                                           maxlength="255"
                                           required>

                                    <p class="text-danger" ng-show="optionForm.opName.$invalid">can not be null</p>
                                </div>

                                <div class="col-md-4"
                                     ng-class="{ 'has-error' : optionForm.opValue.$invalid && !optionForm.opValue.$pristine }">
                                    <input name="opValue" type="text" class="form-control" ng-model="op.value"
                                           maxlength="255" required></div>
                                <div class="col-md-4">
                                    <button ng-click="removeOption(newEmployeeField,$index)" type="button"
                                            class="btn btn-danger">Delete
                                    </button>
                                </div>

                            </form>
                        </div>
                        <p ng-repeat-end></p>

                        <div class="row">
                            <form name="newOptionForm">
                                <div class="col-md-4">
                                    <input name="opName" type="text" class="form-control" ng-model="newOp.name"
                                           maxlength="255"></div>
                                <div class="col-md-4">
                                    <input name="opValue" type="text" class="form-control" ng-model="newOp.value"
                                           maxlength="255"></div>
                                <div class="col-md-4">
                                    <button ng-click="addOption(newEmployeeField)" type="button"
                                            class="btn btn-primary btn-sm"
                                            ng-disabled="newOp.name=='' || newOp.value==''">Add
                                    </button>
                                </div>
                            </form>
                        </div>
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <label class="col-md-3">Description:
                    </label>

                    <div class="col-md-9">
                        <textarea ng-model="newEmployeeField.description_" class="form-control"></textarea>
                    </div>
                </div>

                <p></p>
                <button class="btn btn-default" ng-click="saveEmployeeField(newEmployeeField)"
                        ng-disabled="newEmployeeFieldForm.$invalid">Save
                </button>
                <button class="btn btn-warning" ng-click="newEmployeeField.editing=false">Cancel</button>
                <hr>
            </form>
        </div>

        <hr>
        <!--EmployeeField list table-->
        <div cg-busy="EmployeeFieldTablePromise">
            <table st-table="EmployeeFieldNodeListDisplay" st-safe-src="EmployeeFieldNodeList"
                   class="table table-striped">
                <thead>
                <tr>
                    <th><label>
                        <input type="checkbox" ng-model="selectedAllEmployeeField" ng-click="selectAllEmployeeField()">
                    </label></th>
                    <th st-sort="{{$index}}">Index</th>
                    <th st-sort="name">Name</th>
                    <th st-sort="type">Type</th>
                    <th st-sort="createTime">Create Time</th>
                    <th st-sort="updateTime">Update Time</th>
                    <th>
                        <select ng-model="itemPerPage">
                            <option selected>5</option>
                            <option>10</option>
                        </select>Per page
                    </th>
                </tr>
                <tr>
                    <th colspan="5"><input st-search="" class="form-control" placeholder="search ..." type="text"/></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat-start="x in EmployeeFieldNodeListDisplay">
                    <td><label>
                        <input type="checkbox" ng-model="x.selected" ng-change="selectEmployeeField()">
                    </label></td>
                    <td>{{ $index + 1 }}</td>
                    <td><a href="" ng-click="editEmployeeField(x)">{{x.name}}</a></td>
                    <td>{{x.questionType}}</td>
                    <td>{{x.createTime | date:'yyyy-MM-dd HH:mm'}}</td>
                    <td>{{x.updateTime | date:'yyyy-MM-dd HH:mm'}}</td>
                </tr>
                <tr class="fade-in" ng-repeat-end ng-show="x.editing">
                    <td colspan="5">
                        <form class="form-horizontal">
                            <div cg-busy="EmployeeFieldEditPromise">
                                <label>Name:
                                </label>
                                <input ng-model="x.name_" class="form-control">
                                <label>Description:
                                </label>
                                <textarea ng-model="x.description_" class="form-control"></textarea>
                                <hr>
                                <button class="btn btn-default" ng-click="updateEmployeeField(x)">Save</button>
                                <button class="btn btn-warning" ng-click="x.editing=false">Cancel</button>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="8" class="text-center">
                        <div st-pagination="" st-items-by-page="itemPerPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="row" ng-if="editingEmployeeReport" cg-busy="employeeReportPromise">
            <div class="col-md-2">
                <div set-class-when-at-top="fix-to-top" class="panel panel-default" style="max-height: 400px">
                    <div class="panel-heading">
                        <label>Search</label>
                        <input ng-model="search.$" class="form-control ">

                    </div>
                    <div cg-busy="questionsForFilePromise" class="list-group panel-body"
                         style="width: 100%;max-height: 200px;min-height: 200px" scrollable>
                        <a href="" title="{{q.description}}" class="list-group-item "
                           ng-class="{'active':q.selectedForReport}"
                           ng-repeat="q in EmployeeFieldNodeList | filter:search:strict"
                           ng-click="selectEmployeeFieldForEmployeeReport(q)">{{q.name}}</a>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default btn-sm btn-block"
                                ng-click="insertEmployeeFieldToEmployeeReport()">Insert
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div id="formDesigner" froala="froalaOptions" ng-model="myReport"></div>
            </div>
        </div>
    </div>
</div>
