<div class="well">
    <div class="row">
        <label class="col-md-3">Name:
            <input type="text" class="form-control" ng-model="thisFolder.name" ng-disabled="thisFolder.id=='0'">
        </label>

        <label class="col-md-3">Create Time:
            <input type="text" class="form-control" ng-model="thisFolder.createTime" disabled>
        </label>

        <label class="col-md-3">Last Update Time:
            <input type="text" class="form-control" ng-model="thisFolder.updateTime" disabled>
        </label>
    </div>
    <div class="row">
        <label class="col-md-9">Description:
            <textarea class="form-control" ng-model="thisFolder.description" ng-disabled="thisFolder.id=='0'"></textarea>
        </label>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" ng-click="saveFolder(thisFolder)">Save</button>
        </div>
    </div>
</div>