<div ng-controller="FolderCustomizedElementController">
    <div ng-if="thisFolder.parent_id=='0'">
        <div class="well">
            <div class="row" ng-show = !newElement.editing>
                <button class="btn btn-primary btn-sm" ng-click="newElement.editing=true">Add New Element</button>
                <button class="btn btn-danger btn-sm" ng-click="deleteSelectedCustomizedElement()">Delete</button>
            </div>

            <!--new question area-->
            <div ng-if="newElement.editing">
                <form name="newElementForm" novalidate>
                    <div class="row"
                         ng-class="{ 'has-error' : newElementForm.name.$invalid && !newElementForm.name.$pristine }">
                        <label class="col-md-3">Name:
                        </label>

                        <div class="col-md-9">
                            <input name="name" ng-model="newElement.name" class="form-control" required>
                        </div>
                    </div>
                    <p></p>


                    <div class="row">
                        <div class="col-md-3">
                            <label>Fields</label>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-4">Name</div>
                                <div class="col-md-4">Type</div>
                                <div class="col-md-4"></div>
                            </div>
                            {{newElement}}
                            <div ng-repeat-start="op in newElement.fields" class="row">
                                <form name="fieldsForm" novalidate>
                                    <div class="col-md-4"
                                         ng-class="{ 'has-error' : fieldsForm.fieldName.$invalid && !fieldsForm.fieldName.$pristine }">
                                        <input name="fieldName" type="text" class="form-control" ng-model="op.name"
                                               minlength="3"
                                               required>

                                        <p class="text-danger" ng-show="fieldsForm.fieldName.$invalid">can not be
                                            null</p>
                                    </div>

                                    <div class="col-md-4"
                                         ng-class="{ 'has-error' : fieldsForm.fieldType.$invalid && !fieldsForm.fieldType.$pristine }">
                                        <select name="fieldType" type="text" class="form-control" ng-model="op.type" ng-options="t for t in fieldTypes"
                                                required></select></div>
                                    <div class="col-md-4">
                                        <button ng-click="removeField(newElement,$index)(newElement,$index)" type="button"
                                                class="btn btn-danger">Delete
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <p ng-repeat-end></p>

                            <div class="row">
                                <form name="newTypeForm">
                                    <div class="col-md-4">
                                        <input name="fieldName" type="text" class="form-control"
                                               ng-model="newField.name"
                                               minlength="3"></div>
                                    <div class="col-md-4">
                                        <select name="fieldType" class="form-control" ng-model="newField.type"  ng-options="t for t in fieldTypes"
                                                ></select></div>
                                    <div class="col-md-4">
                                        <button ng-click="addField(newElement,newField)" type="button"
                                                class="btn btn-primary btn-sm"
                                                ng-disabled="newField.name=='' || newField.type==''">Add
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <hr>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-3">Description:
                        </label>

                        <div class="col-md-9">
                            <textarea ng-model="newElement.description" class="form-control"></textarea>
                        </div>
                    </div>

                    <p></p>
                    <button class="btn btn-default" ng-click="saveElement(newElement)"
                            ng-disabled="newElementForm.$invalid">Save
                    </button>
                    <button class="btn btn-warning" ng-click="newElement.editing=false">Cancel</button>
                    <hr>
                </form>
            </div>

            <hr>
            <!--question list table-->
            <table st-table="customizedElementListDisplay" st-safe-src="customizedElementList" class="table table-striped">
                <thead>
                <tr>
                    <th><label>
                        <input type="checkbox" ng-model="thisFolder.selectedAllCustomizedElements" ng-click="selectAllCustomizedElements()">
                    </label></th>
                    <th st-sort="{{$index}}">Index</th>
                    <th st-sort="name">Name</th>
                    <th st-sort="createTime">Create Time</th>
                    <th st-sort="updateTime">Update Time</th>
                    <th>
                        <select ng-model="itemPerPage">
                            <option selected>5</option>
                            <option>10</option>
                        </select>Per page
                    </th>
                </tr>
                <tr>
                    <th colspan="5"><input st-search="" class="form-control" placeholder="search ..." type="text"/></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat-start="x in customizedElementListDisplay">
                    <td><label>
                        <input type="checkbox" ng-model="x.selected" ng-change="selectCustomizedElement()">
                    </label></td>
                    <td>{{ $index + 1 }}</td>
                    <td><a href="" ng-click="editCustomizedElement(x)">{{x.name}}</a></td>
                    <td>{{x.createTime | date:'yyyy-MM-dd HH:mm'}}</td>
                    <td>{{x.updateTime | date:'yyyy-MM-dd HH:mm'}}</td>
                </tr>
                <tr ng-repeat-end ng-show="x.editing">
                    <td colspan="5">
                        <form class="form-horizontal">
                            <div>
                                <label>Name:
                                </label>
                                <input ng-model="x.customizedElement.name" class="form-control">
                                <label>Description:
                                </label>
                                <textarea ng-model="x.customizedElement.description" class="form-control"></textarea>
                                <hr>
                                <button class="btn btn-default" ng-click="updateElement(x)">Save</button>
                                <button class="btn btn-warning" ng-click="loadCustomizedElementsInFolder()">Cancel</button>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="8" class="text-center">
                        <div st-pagination="" st-items-by-page="itemPerPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>


    </div>


    <!--can only creat or view customized elements under root's children folders(which will be assigned to the user) -->
    <div ng-if="thisFolder.parent_id != '0' || thisFolder.id == '0'">
        <h5>Please create or view customized elements under root's children folders(which will be assigned to the
            user) </h5>
    </div>
</div>