<style>
    .fix-to-top {
        position: fixed;
        top: 0;
    }
</style>
<div ng-controller="FileController" cg-busy="fileEditPromise">

    <div class="well">
        <div class="row">
            <label class="col-md-3">Name:
                <input type="text" class="form-control" ng-model="editingFileNode.name_">
            </label>

            <label class="col-md-3">Create Time:
                <input type="text" class="form-control"
                       value="{{editingFileNode.createTime | date:'yyyy-MM-dd HH:mm'}}" disabled>
            </label>

            <label class="col-md-3">Last Update Time:
                <input type="text" class="form-control"
                       value="{{editingFileNode.updateTime | date:'yyyy-MM-dd HH:mm'}}" disabled>
            </label>
        </div>
        <div class="row">
            <label class="col-md-9">Description:
                <textarea class="form-control" ng-model="editingFileNode.description_"></textarea>
            </label>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-primary btn-sm" ng-click="saveFile(editingFileNode)">Save</button>
                <button class="btn btn-default btn-sm" ng-click="loadFolderTree();">Cancel</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div set-class-when-at-top="fix-to-top" class="well" style="max-height: 400px">
                <div style="">
                    <label>Search</label>
                    <input ng-model="search.$" class="form-control ">

                </div>
                <hr>
                <div cg-busy="questionsForFilePromise" class="list-group " style="width: 100%;max-height: 200px;min-height: 200px" scrollable>
                    <a href="" title="{{q.description}}" class="list-group-item " ng-class="q.selected?'active':''"
                       ng-repeat="q in questionsForFile | filter:search:strict" ng-click="selectQuestionForFile(q)">{{q.name}}</a>
                </div>
                <hr>
                <div style="">
                    <button class="btn btn-default btn-sm btn-block" ng-click="insertQuestionToFile()">Insert</button>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div id="formDesigner" froala="froalaOptions" ng-model="myHtml"></div>
        </div>
    </div>
</div>
