<div ng-controller="formListCtrl as controller" class="row">
    <div ng-if="!editFormFormat">
        <table st-table="users" class="table table-striped">
            <thead>
            <tr>
                <th st-sort="id">ID</th>
                <th st-sort="form_name">Form Name</th>
                <th st-sort="fields_count">Fields Count</th>
                <th st-sort="creator">creator</th>
                <th st-sort="createTime">Create Time</th>
                <th st-sort="updateTime">Update Time</th>
                <th>
                    <button type="button" ng-click="createNew()" class="btn btn-md">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                    <button type="button" ng-click="editFormFormatAction()"></button>
                </th>

            </tr>
            <tr>
                <th colspan="1">
                    <input st-search="form_name" placeholder="search for Form Name" class="input-sm form-control"
                           type="search"/>
                </th>
                <th colspan="2">
                    <input st-search="creator" placeholder="search for Creator" class="input-sm form-control"
                           type="search"/>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in forms">
                <td>{{ $index + 1 }}</td>
                <td>{{ x.id }}</td>
                <td>{{x.form_name}}</td>
                <td>{{x.fields_count}}</td>
                <td>{{x.creator}}</td>
                <td>{{x.createTime}}</td>
                <td>{{x.updateTime}}</td>
                <td>
                    <button type="button" ng-click="editFormFormatAction(x)" class="btn btn-md">
                        Edit Form Format
                    </button>
                    <button type="button" ng-click="edit(x)" class="btn btn-md">
                        <i class="glyphicon glyphicon-edit">
                        </i>
                    </button>
                    <button type="button" ng-click="delete(x)" class="btn btn-md btn-danger">
                        <i class="glyphicon glyphicon-remove">
                        </i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div ng-if="editFormFormat">
        <div class="row">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="formFormateOk()">Save
            </button>
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="formFormateCancel()">
                Cancel
            </button>
        </div>
        <div class="well row">
            <div class="col-md-3">
                <label>Select Question to insert:</label>
                <button type="button" class="btn btn-md btn-success" ng-click="insertQuestion()">Insert</button>
                <hr>
                {{questions.all}}
                <ui-virtual-list ui-data-provider="questions.all"
                                 ui-on-select="onQuestionSelected(option)"
                                 ng-model="questions.selectedQuestion"></ui-virtual-list>
            </div>
            <div class="col-md-9">
                {{questions.selectedQuestion}}
                <preview-question data-question="questions.selectedQuestion"></preview-question>
            </div>
        </div>
        <div id="formDesigner" froala="froalaOptions" ng-model="formDetail.context"></div>
        {{formDetail.context}}
    </div>
</div>
<script type="text/ng-template" id="form-delete.html">
    <p>Are you sure you want to delete the form?</p>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="cancel()">No
        </button>
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="deleteOk()">Yes</button>
    </div>
</script>
<script type="text/ng-template" id="form-information-dialog.html">
    <h1>Form Information</h1>
    <div class="well">
        <form class="form-inline">
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="name">Form Name:</label>
                </div>
                <div class="col-md-8">
                    <input ng-model="formDetail.name" type="text" class="form-control" id="name"
                           placeholder="please input the form name">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="type">Type:</label>
                </div>
                <div class="col-md-8">
                    <select class="form-control" id='type' ng-options=" type for  type in types "
                            ng-change="typeChanged()"
                            ng-model="formDetail.type"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="description">Description</label>
                </div>
                <div class="col-md-8">
                    <textarea ng-model="formDetail.description" class='form-control' id='description'></textarea>
                </div>
            </div>
            <input ng-model="formDetail.id" type="hidden"/>
        </form>
        <hr>

        <div class="row">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="info_ok()">OK</button>
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
<style>

    .st-sort-ascent:before {
        content: '\25B2';
    }

    .st-sort-descent:before {
        content: '\25BC';
    }

</style>
<script>
    $(document).ready(function () {
        $('#formDesigner').on('mouseover', 'input', function (event) {
            console.log('mouse over........');
            $('#formDesigner').froalaEditor("formDesigner.showEdit", event);
        });
//        $('#formDesigner').on('mouseout', 'input' ,function (event) {
//            console.log('mouse out........');
//            $('#formDesigner').froalaEditor("formDesigner.hideEdit");
//        })
    });
    function showDialog(url) {
        url = "fd/" + url + ".html";
        $('#formDesigner').froalaEditor("formDesigner.showPopup", url);
    }
    function deleteElement() {
        $('#formDesigner').froalaEditor("formDesigner.deleteSelectedElement");
    }
</script>

