<div ng-controller="UserController as controller" class="row">
    <div class="">
        <table st-table="users" class="table table-striped">
            <thead>
            <tr>
                <th st-sort="{{$index}}">Index</th>
                <th st-sort="id">ID</th>
                <th st-sort="ssoId">SSOID</th>
                <th st-sort="companyId">CompanyID</th>
                <th st-sort="email">Email</th>
                <th st-sort="state">State</th>
                <th st-sort="userProfiles">User Profiles</th>
            </tr>
            <tr>
                <th colspan="3">
                    <input st-search="ssoId" placeholder="search for SSOID" class="input-sm form-control"
                           type="search"/>
                </th>
                <th colspan="1">
                    <input st-search="email" placeholder="search for email" class="input-sm form-control"
                           type="search"/>
                </th>
                <th colspan="2">
                    <input st-search="companyId" placeholder="search for company id" class="input-sm form-control"
                           type="search"/>
                </th>
                <th colspan="1">
                    <input st-search="userProfiles" placeholder="search for user profiles" class="input-sm form-control"
                           type="search"/>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in users">
                <td>{{ $index + 1 }}</td>
                <td>{{ x.id }}</td>
                <td>{{x.ssoId}}</td>
                <td>{{x.companyId}}</td>
                <td>{{x.email}}</td>
                <td>{{x.state}}</td>
                <td>{{x.userProfiles}}</td>
                <td>
                    <button type="button" ng-click="editor(x)" class="btn btn-sm btn-success">
                        <i class="glyphicon glyphicon-edit">
                        </i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/ng-template" id="user-editor.html">
    <h1>Editing User</h1>
    <div class="well">
        <form class="form-inline">
            <div class="form-group">
                <label for="Creator">User SSOID:</label>
                <input ng-model="user.ssoId" type="text" class="form-control" id="Creator"
                       placeholder="Jane Doe" disabled>
            </div>
            <div class="form-group">
                <label class="checkbox inline _hover" data-ng-repeat="p in workflow.all" title="{{p.name}}"
                       style="width: 100%; margin-left: 10px;">
                    <input maxlength="30" data-index="{{p.index}}" type="checkbox" value="{{'{&quot;id&quot;:&quot;'+p.id+'&quot;,&quot;name&quot;:&quot;'+p.name+'&quot;}'}}"
                           data-check-list='workflow.checked' title="{{p.description}}" data-check-num-list="workflow.checkedname"
                           req-num="{{p.name}}">{{p.name}}
                </label>
                {{workflow.all}}
                {{workflow.checkedname}}
                {{workflow.checked }}
            </div>
            <input ng-model="user.id" type="hidden"/>
        </form>
        <div class="row">
            <button type="button" class="btn btn-success" ng-click="ok()">OK</button>
            <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
<style>
    .st-sort-ascent:before {
        content: '\25B2';
    }

    .st-sort-descent:before {
        content: '\25BC';
    }

</style>