<div ng-controller="PlumbCtrl">
    <div ng-if="!editing_detail" ng-init="refreshAll()">
        <table st-table="workflows" class="table table-striped">
            <thead>
            <tr>
                <th st-sort="{{$index}}">Index</th>
                <th st-sort="id">ID</th>
                <th st-sort="name">name</th>
                <th st-sort=""></th>
                <th><button type="button" ng-click="createNew()" class="btn btn-md btn-info">Create Workflow</button></th>
            </tr>
            <tr>
                <th colspan="3">
                    <input st-search="name" placeholder="search for Name" class="input-sm form-control"
                           type="search"/>
                </th>
                <th colspan="1">
                    <input st-search="id" placeholder="search for ID" class="input-sm form-control"
                           type="search"/>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in workflows">
                <td>{{ $index + 1 }}</td>
                <td>{{ x.id }}</td>
                <td>{{x.name}}</td>
                <td>
                    <button type="button" ng-click="editor(x)" class="btn btn-md btn-success">
                        <i class="glyphicon glyphicon-edit">
                        </i>
                    </button>

                    <button type="button" ng-click="editDetail(x)" class="btn btn-md btn-info">
                        Edit Detail
                    </button>

                    <button type="button" ng-click="delete(x)" class="btn btn-md btn-danger">
                        <i class="glyphicon glyphicon-remove">
                        </i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <script type="text/ng-template" id="workflow-editor.html">
        <h1>Editing Workflow</h1>
        <div class="well">
            <form class="form-inline">
                <div class="form-group">
                    <label for="name">Workflow Name:</label>
                    <input ng-model="workflow.name" type="text" class="form-control" id="name"
                           placeholder="">
                </div>
                <input ng-model="workflow.id" type="hidden"/>
            </form>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea ng-model="workflow.description" id="description" class="form-control"></textarea>
            </div>
            <div class="row">
                <button type="button" class="btn btn-success" ng-click="ok()">OK</button>
                <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </script>
    <div ng-if="editing_detail">
        <ul class="nav nav-tabs ">
            <li class="{{toolbarShowing==0?'active':''}}">
                <a ng-click="switchToolbar(0)">Normal Nodes</a>
            </li>
            <li class="{{toolbarShowing==1?'active':''}}">
                <a ng-click="switchToolbar(1)" data-toggle="tab">Question Nodes</a>
            </li>
            <li><a ng-click="editDetailSave()">Save</a></li>
            <li><a ng-click="editDetailCancel()">Cancel</a></li>
        </ul>
        <div id="container" class="row">
            <div id="tool-bar" class="col-md-2" ng-init="initMenu()">
                <hover-code hover-coder="hoverCode">
                    <preview-question question="menuNodes.previewNode"></preview-question>
                </hover-code>
                <div ng-switch="toolbarShowing">
                    <div id="menu-container-normalNodes" ng-switch-when="0" class="menu-container">
                        <ul class="list-group">
                            <li
                                ng-repeat="normalNode in menuNodes.normalNodes" ng-mousedown="menuNodes.droppedNode = normalNode" title="{{normalNode.name}}"
                                class="list-group-item menu-item {{'normal-node-'+normalNode.type}}" draggable>
                                <a title="{{normalNode.name}}">{{normalNode.name}}</a>
                                {{normalNode}}
                            </li>
                        </ul>
                    </div>

                    <div id="menu-container-questionNodes" class="menu-container" ng-switch-when="1">
                        <hr>
                        Please input to search the questions
                        <input class="form-control" ng-model="query">
                        <hr>
                        <ul class="list-group">
                            <li ng-mousedown="menuNodes.droppedNode = question" ng-mouseout="hidePreviewQuestion()"
                                ng-mouseover='showPreviewQuestion($event,question.data)'
                                ng-repeat="question in menuNodes.questionNodes | filter:query"
                                class="list-group-item menu-item {{'question-node-'+question.type}}" draggable><a
                                    title="{{question.data.description}}">{{question.name}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="item-container" class="col-md-10  drop-container" droppable>
                {{schema}}
                <div plumb-item class="item" ng-repeat="module in schema.all" node-id="{{module.id}}"
                     ng-dblclick="removeNode(module)" ng-style="{ 'left':module.x, 'top':module.y }">
                    <div class="title">{{module.name}}</div>
                    {{module.data.description}}
                    <div plumb-connect class="connect"></div>
                </div>
            </div>
        </div>
        <span ng-init="init()"></span>
    </div>
</div>
<style>

    .title {
        padding: 10px;
        cursor: move;
        font-weight: bold;
        font-size: 120%;
    }

    .connect {
        width: 100%;
        height: 20px;
        cursor: pointer;
        background-color: #40B3DF;
    }

    .summary {
        padding: 10px;
        cursor: move;
        font-weight: bold;
        font-size: 120%;
    }

    .item {
        position: absolute;
        border: 1px solid black;
        width: 150px;
        font-size: 80%;
        background-color: #FFFFFF;
        text-align: center;
        -moz-box-shadow: 2px 2px 3px 1px #AAA;
        -webkit-box-shadow: 2px 2px 3px 1px #AAA;
        box-shadow: 2px 2px 3px 1px #AAA;
    }

    /* the container is 200px (size of menu-container) plus 3 times 250px + 2px per border*/
    #container {
        border: 2px solid gray;
        width: 100%;
        height: 100%;
    }

    /* the menu is 200px wide */
    .menu-container {
        float: left;
        background-color: #F3F2F4;
        height: 100%;
        width: 100%
    }

    #item-container {
        height: 100%;
        border: 1px crimson;
        background-color: #F3F2F4;
    }

</style>