<!-- navbar -->
<div class="nav_container" ng-controller="UserNavController">
    <nav class="navbar navbar-default" style="margin-bottom: 0">
        <ul class="nav navbar-nav">
            <li ng-repeat="menu in myMenu" class="{{menu == selectedMenu?'active':''}}"><a href="{{menu.href}}"
                                                                                           ng-click="menuClicked(menu)"><span>{{menu.name}}</span><span
                    ng-show="menu.subMenu.length!=0" class="caret"></span></a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right" ng-controller="LoginController">
            <li><a href="" ng-click="showLoginDialog()" ng-show="!isLoginedIn()" ><span>Login</span></a></li>
            <li><a href="" ng-click="logout()" ng-show="isLoginedIn()" ><span>Log out</span></a></li>
        </ul>
    </nav>
    <nav ng-show="subMenu.length!=0" class="navbar navbar-default" style="margin-bottom: 10px">
        <ul class="nav navbar-nav">
            <li ng-repeat="menu in subMenu" class="{{menu == selectedSubMenu?'active':''}}"><a href="{{menu.href}}"
                                                                                               ng-click="subMenuClicked(menu)"><span>{{menu.name}}</span></a>
            </li>
        </ul>
    </nav>
</div>
<!-- end navbar -->
<script type="text/ng-template" id="login.html">
    <div class="container-fluid">
        <h1>Log in with your account</h1>
        <hr>
        <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="login-spinner"></span>
        <div class="alert alert-danger" ng-show="loginError.hasError" role="alert">{{loginError.msg}}</div>
        <div class="form-group">
            <input type="text" name="email" ng-model="userInfo.userId" id="user_id" class="form-control"
                   placeholder="user id">
        </div>
        <div class="form-group">
            <input type="password" name="key" id="key" ng-model="userInfo.password" class="form-control" placeholder="Password">
            <a class="pull-right" href="" ng-click="forgetPassword()">forget password</a>
            <a class="pull-right"><span>|</span></a>
            <a class="pull-right" href="#/register" ng-click="newUser()">New User</a>
        </div>
        <hr>
        <input type="button" id="btn-login" class="btn btn-primary  btn-block" ng-click="login()" value="Log in">
    </div>
</script>












