<div class="generic-container" ng-controller="UserCompanyController as ctrl">
    <div class="panel panel-primary">
        <div class="panel-heading">
           Company Info
        </div>

        <div class="panel-body" >
            <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="company-edit-spinner"></span>
            <div class="alert alert-danger" role="alert" ng-show="companyError.hasError.error">{{companyError.msg}}</div>
            <div class="alert alert-success" role="alert" ng-show="companyError.hasError.success">{{companyError.msg}}</div>
            <form name="companyForm" class="css-form" novalidate>

                <div class="row">
                    <div class="col-md-6">
                        <!-- name -->
                        <div class="form-group row" ng-class="{ 'has-error' : companyForm.name.$invalid && !companyForm.name.$pristine }">
                            <label for="name" class="col-md-3 control-label">Organization Name</label>
                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Organization Name"
                                       ng-model="company.name" maxlength="256" required>
                            </div>
                            <div class="col-md-1"><span ng-show="!companyForm.name.$invalid" style="color: green;" class="glyphicon glyphicon-ok"></span></div>
                        </div>

                        <div class="form-group row">
                            <label for="number_of_employee" class="col-md-3 control-label">Number of Employees</label>
                            <label id="number_of_employee" class="col-md-6">{{company.employeeNum}}</label>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="tax_id" class="col-md-3 control-label">Tax ID</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="tax_id" ng-model="company.taxId" placeholder="Tax ID">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="regi_num" class="col-md-3 control-label">Registration Number</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="regi_num" ng-model="company.registNum" placeholder="Registration Number">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">

                        <!-- phone -->
                        <div class="form-group row" ng-class="{ 'has-error' : companyForm.phone.$invalid && !companyForm.phone.$pristine }">
                            <label for="phone" class="col-md-3 control-label">Phone</label>
                            <div class="col-md-6">
                                <input ng-model="company.phone" type="text" class="form-control" name="phone" id="phone" placeholder="Phone Number" phone required>
                            </div>
                            <div class="col-md-1"><span ng-show="!companyForm.phone.$invalid" style="color: green;" class="glyphicon glyphicon-ok"></span></div>
                        </div>

                        <!-- email -->
                        <div class="form-group row" ng-class="{ 'has-error' : companyForm.email.$invalid && !companyForm.email.$pristine }">
                            <label for="email" class="col-md-3 control-label">Email</label>
                            <div class="col-md-6">
                                <input name="email" ng-model="company.email" type="email" class="form-control" id="email" placeholder="Email" required>
                            </div>
                            <div class="col-md-1"><span ng-show="!companyForm.email.$invalid" style="color: green;" class="glyphicon glyphicon-ok"></span></div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <!-- FAX -->
                        <div class="form-group row" ng-class="{ 'has-error' : companyForm.fax.$invalid && !companyForm.fax.$pristine }">
                            <label for="fax" class="col-md-3 control-label">Fax</label>
                            <div class="col-md-6">
                                <input ng-model="company.fax" type="text" class="form-control" name="fax" id="fax" placeholder="Fax" phone>
                            </div>
                        </div>
                        <!-- Address -->
                        <div class="form-group row"  ng-class="{ 'has-error' : companyForm.address.$invalid && !companyForm.address.$pristine }">
                            <label for="address" class="col-md-3 control-label">Address</label>

                            <div class="col-md-6">
                                <input type="text" id="address" name="address" class="form-control" ng-autocomplete="result1"
                                       details="details1" options="options1" ng-model="company.address" required/>
                            </div>
                            <div class="col-md-1"><span ng-show="!companyForm.address.$invalid" style="color: green;" class="glyphicon glyphicon-ok"></span></div>
                        </div>
                    </div>
                </div>
                <hr>
            </form>
            <button type="button" class="btn btn-primary pull-right" value="Save" ng-click="save()"  >Save</button>
            <button type="button" class="btn btn-primary pull-right" value="Save" ng-click="nextStep()"  >Next</button>
            <!--ng-disabled="companyForm.$invalid"-->
        </div>
    </div>
</div>