<div ng-controller="UserCustomizedElementController">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-class="{'active':menu.selected}" ng-repeat="menu in customizedElementsMenus"><a
                href="" ng-click="menuSelect(menu)" aria-controls="editor" role="tab"
                data-toggle="tab">{{menu.name}}</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" ng-init="loadCustomizedElementMenus">
        <div role="tabpanel" class="tab-pane active"
             id="editor">
            <div class="conter-wrapper ng-scope">
                <div class="row" ng-repeat="row in elementRows track by $index">
                    <span ng-init="rowNumber = $index"></span>

                    <div class="col-md-4 " ng-repeat="col in row track by col.id">
                        <div class="customized-element-card panel panel-info">
                            <div ng-init="colNumber = $index" class="panel-heading">{{rowNumber*3+colNumber+1}}
                                <div class="pull-right">
                                    <a class="close" href="" ><i class="fa fa-times"></i></a>
                                    <a class="close" href="" ng-click="col.editing=true"><i class="fa fa-edit"></i></a>

                                </div>
                            </div>

                            <div class="panel-body">
                                <plus-div ng-if="!col.editing && col.isNew" mouse-click-event="editRecord"
                                          mouse-click-param="col"></plus-div>
                                <div ng-show="!col.editing &&!col.isNew">
                                    <ul class="list-unstyled invoice-details">
                                        <li ng-repeat="field in col.values"><strong>{{field.customizedElementField.name}}:</strong>{{field.value}}
                                        </li>
                                    </ul>
                                </div>

                                <div class="form-group" ng-show="col.editing" ng-repeat="field in col.values">
                                    <label for="{{field.id}}" class="col-sm-2 control-label">{{field.customizedElementField.name}}</label>
                                    <div class="col-md-10">

                                        <input id="{{field.id}}" class="underline form-control" ng-show="col.editing" ng-model="field.value">
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-info" ng-click="saveRecord(col)">Save</button>
                                <button class="btn btn-default" ng-click="col.editing = false">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    ＃create {

    }

    .plus-mouse-over {
        position: absolute;

        width: 160px;
        height: 160px;

        top: 50%;
        left: 50%;

        margin-left: -80px;
        margin-top: -80px;

        border: silver 1px dashed
    }

    .plus-mouse-out {

        position: absolute;

        width: 150px;
        height: 150px;

        top: 50%;
        left: 50%;

        margin-left: -75px;
        margin-top: -75px;

        border: silver 1px dashed

    }

    .plus::before, .plus::after {

        position: absolute;

        background-color: silver;

        content: ""

    }

    .plus::before {

        width: 75px;
        height: 25px;
        top: 62.5px;
        left: 37.5px;

    }

    .plus::after {

        width: 25px;
        height: 75px;
        left: 62.5px;
        top: 37.5px;

    }

    #editor {
        /*background: white;*/
        /*border: 1px solid #ddd;*/
        /*border-top-color: transparent;*/
        height: 600px;
        padding: 10px 0px;
    }

    .customized-element-card {
        height: 300px;
    }

    .customized-element-card .panel-body {
        height: 184px;
        overflow:auto;
    }
</style>