<div ng-controller="UserDocumentStartController">
    <div class="row">
        <div class="col-md-8 panel panel-default" id="container">

            <div id="container-child" class="panel-body" >
                <div ng-include="eventsAll[flowIndex].url"></div>
            </div>
            <div class="panel-footer ">
                <button class="btn btn-default pull-right" ng-click="goNextStep()">Next</button>
                <button class="btn btn-default" ng-click="goPrevStep()">prev</button>

            </div>

        </div>
        <div class="col-md-4" id="steps">
                <timeline>
                    <div id="test" timeline-event index="{{$index}}" now-step="flowIndex"
                         ng-repeat="event in eventsAll">
                        <timeline-badge class="{{event.badgeClass}}">
                            <i class="glyphicon {{event.badgeIconClass}}"></i>
                        </timeline-badge>
                        <timeline-panel class="{{event.badgeClass}}">
                            <timeline-heading>
                                <h4>{{event.title}} +++ {{'bounce-in'+Math.abs($index - flowIndex)}}</h4>
                            </timeline-heading>
                            <p>{{event.content}}</p>
                        </timeline-panel>
                    </div>
                </timeline>
        </div>
    </div>

</div>

<style>
    #tzest {
        top: 1px;
        background: red;
        width: 10px;
        height: 30px;
    }

    #container {
        height: 600px;
    }

    #steps {
        height: 600px;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #container > div#container-child {
        height: 533px;
        overflow-y: auto;
        overflow-x: auto;
    }

</style>
