<style>div[data-angular-treeview] {
    /* prevent user selection */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* default */
    font-family: Tahoma;
    font-size: 13px;
    color: #555;
    text-decoration: none;
}

div[data-tree-model] ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
}

div[data-tree-model] li {
    position: relative;
    padding: 0 0 0 20px;
    line-height: 20px;
}

div[data-tree-model] li .expanded {
    padding: 1px 10px;
    background-image: url("http://cfile23.uf.tistory.com/image/205B973A50C13F4B19D9BD");
    background-repeat: no-repeat;
}

div[data-tree-model] li .collapsed {
    padding: 1px 10px;
    background-image: url("http://cfile23.uf.tistory.com/image/1459193A50C13F4B1B05FB");
    background-repeat: no-repeat;
}

div[data-tree-model] li .normal {
    padding: 1px 10px;
    background-image: url("http://cfile23.uf.tistory.com/image/165B663A50C13F4B196CCA");
    background-repeat: no-repeat;
}

div[data-tree-model] li i, div[data-tree-model] li span {
    cursor: pointer;
}

div[data-tree-model] li .selected {
    background-color: #aaddff;
    font-weight: bold;
    padding: 1px 5px;
}

div[data-angular-treeview] > ul {
    height: 555px;;
}
</style>

<div ng-controller="DocumentViewTreeController" class=" row fade-in">
    <div class="panel panel-default col-md-2 " cg-busy="userFolderTreePromise">
        <div class="panel-body" scrollable>
            <div
                    data-angular-treeview="true"
                    data-tree-id="folderTree"
                    data-tree-model="folders"
                    data-node-id="id"
                    data-node-label="name"
                    data-node-is-leaf="leaf"
                    data-node-show-Progress="true"
                    data-node-children="children">
            </div>
        </div>
    </div>
    <div class="col-md-10 container ">

        <!--folder viewer-->
        <div cg-busy="userViewFlowPromise" id="folder_view" ng-if="folderTree.currentNode.type=='FOLDER'">
            <div ng-include="'user/document_company_question.html'" class="fade-in"></div>
        </div>
        <!--folder viewer end-->

        <!--file viewer-->
        <div id="file_view" cg-busy="userViewFilePromise" class="fade-in"
             ng-if="folderTree.currentNode.type=='FILE' && folderTree.currentNode.fileType =='CompanyFile'">
            <!--file preview-->
            <div class="panel panel-primary fade-in" ng-if="!folderTree.currentNode.isEditing">
                <div class="panel-heading">
                    <div class="row">
                        {{folderTree.currentNode.name}}
                        <div class="pull-right">
                            <button ng-click="printPdf()" class=" btn btn-sm btn-default">Print
                            </button>
                            <button ng-click="editNode(folderTree.currentNode)" class=" btn btn-sm btn-default">
                                Edit
                            </button>
                        </div>

                    </div>
                </div>

                <div class="panel-body" style="height: 539px">
                    <object id="pdf-object" style="width:100%;height: 100%" data="{{content}}"
                            type="application/pdf"></object>
                </div>
            </div>
            <!--file editor-->
            <div ng-if="folderTree.currentNode.isEditing" class="panel" cg-busy="questionAllPromise">
                <div class="panel-heading">
                    <button ng-click="saveAllQuestionValue(folderTree.currentNode.questions)"
                            class="btn btn-default btn-sm">Save All
                    </button>
                </div>
                <div class="panel-body" style="height: 539px;
    overflow: scroll">
                    <div class="col-md-3">
                        <div cg-busy="folderTree.currentNode.questions[{{$index}}].promise"
                             class="questionCard panel panel-primary fade-in "
                             ng-repeat="question in folderTree.currentNode.questions">
                            <div class="panel-heading">{{question.name}}</div>
                            <div class="panel-body">
                                {{question.description}}
                                <div id="node-data-content">
                                    <div ng-switch="question.questionType">
                                        <select class="form-control" ng-switch-when="select" ng-model="question.value">
                                            <option ng-repeat="opt in question.options" value="{{opt.name}}">
                                                {{opt.name}}
                                            </option>
                                        </select>
                                        <input class="form-control" ng-switch-when="text" type="text"
                                               ng-model="question.value">
                            <textarea class="form-control" ng-switch-when="textarea"
                                      ng-model="question.value"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="panel-footer-buttons">
                                    <button class="btn btn-default btn sm" ng-click="saveQuestionValue(question)">Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--file view end-->
        <!--Employee Report-->
        <div id="report_view" ng-controller="UserEmployeeRecordController" cg-busy="userViewFilePromise" class="fade-in"
             ng-if="folderTree.currentNode.type=='FILE' && folderTree.currentNode.fileType =='EmployeeReport'">
            <div class="row" style="height: 600px;">
                <div class="panel panel-default">
                    <div class="panel-body" style="height: 100%;">
                        <div class="list-group col-md-2" style="height: 100%" scrollable>
                            <a ng-repeat="employee in employees" href="" class="list-group-item"
                               ng-class="{'active':employee.selected}" ng-click="selectAndShowEmployee(employee)">
                                <span class="badge">{{employee.percent*100}}%<i class="glyphicon glyphicon-ok"
                                                                                ng-show="employee.percent == 1"></i></span>{{employee.firstName
                                + ' ' +
                                employee.lastName}}
                                <div class="progress" style="height: 10px;    margin-bottom: 0;">
                                    <div class="progress-bar progress-bar-success progress-bar-striped"
                                         role="progressbar"
                                         aria-valuenow="{{employee.percent*100}}" aria-valuemin="0"
                                         aria-valuemax="100" style="width: {{employee.percent*100}}%;">
                                        <span class="sr-only">{{employee.percent*100}}% Complete</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-10" cg-busy="viewEmployeeReportPromise">
                            <object id="pdf-object" style="width:100%;height: 100%" data="{{content}}"
                                    type="application/pdf"></object>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div id="form_container" style="color:white">
    </div>
</div>
