<div cg-busy="userEmployeeListPromise" ng-controller="UserEmployeeController" class="container">
    
    <div class="container row">
        <div  ng-class="{'col-md-3':editing,'col-md-12':!editing}" id="card-parent" ng-style="{'overflow':'auto','height':'620px'}">
            <div ng-class="{'col-md-3':!editing,'col-md-12':editing}"  class="fade-in" ng-repeat="element in employees track by $index">
                <div customized-element-card  class="panel panel-info" cg-busy="allElement[{{$index}}].promise" ng-class="{'customized-element-card-selected':element.uuid==editedEmployee.uuid}" ng-click="editEmployee($index)">
                    <div class="panel-heading">{{$index}}
                        <div class="pull-right" ng-show="!element.isNew">
                            <a class="close" href="" ng-click="deleteEmployee(element)"><i class="fa fa-times"></i></a>
                            <a class="close" href="" ng-click="editEmployee($index)"><i class="fa fa-edit"></i></a>
                        </div>
                    </div>

                    <div class="panel-body">
                        <plus-div ng-if="element.isNew" mouse-click-event="editEmployee"
                                  mouse-click-param="element"></plus-div>
                        <div ng-show="!element.isNew">
                            <ul class="list-unstyled invoice-details">
                                <li>
                                    <strong>Name:</strong><span>{{element.firstName + '  '+ element.lastName}}</span>
                                </li>
                                <li>
                                    <strong>Sex:</strong><span>{{element.gender}}</span>
                                </li>
                                <li>
                                    <strong>Email:</strong><span>{{element.email}}</span>
                                </li>
                                <li>
                                    <strong>Phone:</strong><span>{{element.phone}}</span>
                                </li>
                                <li>
                                    <strong>Address:</strong><span>{{element.address}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="editing" class="col-md-9">
            <div ng-include="'user/employee_list_card_style_edit.html'"></div>
        </div>
    </div>
</div>