


<div class="panel panel-primary" ng-controller="EmploymentStatusController">
    <div class="panel-heading">Employment Status</div>
    <div class="panel-body">

        <div class="alert alert-success" ng-show="hasError.success">Success!</div>
        <div class="alert alert-danger" ng-show="hasError.error">Error, Please try later!</div>
        <div class="well" ng-show="newEmploymentStatus.editing">
            <div>
                <label>Name:
                </label>
                <input ng-model="newEmploymentStatus.name" class="form-control">
                <label>Description:
                </label>
                <textarea ng-model="newEmploymentStatus.description" class="form-control"></textarea>
                <hr>
                <button class="btn btn-default" ng-click="saveEmploymentStatus(newEmploymentStatus)">Save</button>
                <button class="btn btn-warning" ng-click="newEmploymentStatus.editing=false">Cancel</button>
            </div>
        </div>
        <button class="btn btn-primary" ng-click="editEmploymentStatus(newEmploymentStatus)">Add</button>
        <button class="btn btn-danger" ng-click="deleteSelectedEmploymentStatuses()">Delete</button>
        <form class="form-inline">
            <label>Item Number per Page</label>
            <select ng-model="itemPerPage" class="form-control">
                <option selected>5</option>
                <option>10</option>
            </select>
        </form>
        <hr>
        <table st-table="employmentStatusesDisplay" st-safe-src="employmentStatuses" class=" well table table-striped">
            <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="employment-status-list-spinner"></span>
            <thead>
            <tr>
                <th><label>
                    <input type="checkbox" ng-model="selectedAll" ng-click="selectAll()">
                </label></th>
                <th st-sort="{{$index}}">Index</th>
                <th st-sort="name">Name</th>
                <th st-sort="createTime">Create Time</th>
                <th st-sort="updateTime">Update Time </th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat-start="x in employmentStatusesDisplay">
                <td><label>
                    <input type="checkbox" ng-model="x.selected" ng-change="select()">
                </label></td>
                <td>{{ $index + 1 }}</td>
                <td><a href="" ng-click="editEmploymentStatus(x)">{{x.name}}</a></td>
                <td>{{x.createTime | date:'EEE yyyy-MM-dd HH:mm:ssa'}}</td>
                <td>{{x.updateTime | date:'EEE yyyy-MM-dd HH:mm:ssa'}}</td>
            </tr>
            <tr ng-repeat-end ng-show="x.editing">
                <td colspan="5">
                    <form class="form-horizontal">
                        <div>
                            <label>Name:
                            </label>
                            <input ng-model="x.name" class="form-control">
                            <label>Description:
                            </label>
                            <textarea ng-model="x.description" class="form-control"></textarea>
                            <hr>
                            <button class="btn btn-default" ng-click="saveEmploymentStatus(x)">Save</button>
                            <button class="btn btn-warning" ng-click=" $scope.loadAll()">Cancel</button>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="8" class="text-center">
                    <div st-pagination="" st-items-by-page="itemPerPage" st-displayed-pages="7"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

